.navbar img {
  height: 47px;
  width: 150px;
}

.btn-header {
  border-radius: 25px !important;
  padding: 2px 20px !important;
  width: 100% !important;
}

.user-name {
  color: #333;
}

@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .nav-link {
    padding-bottom: 5px !important;
  }

  .nav-link.active {
    border-bottom: 2px solid #7ab259;
  }
}
