.works-area {
  background: #111430;
}

.works-area img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.slick-slide > div {
  margin: 0 22px;
}

.project-slide {
  outline: none;
}

.works-area .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #242a65;
  transition: 0.15s linear;
}

.works-area .slick-dots li.slick-active button {
  background: #fbd062;
}
.works-area .slick-dots li button:before {
  visibility: hidden;
}
